@import "variables";

@font-face {
    font-family: 'icons';
    src:    url('@{icomoon-font-path}/icons.eot?ibykvs');
    src:    url('@{icomoon-font-path}/icons.eot?ibykvs#iefix') format('embedded-opentype'),
        url('@{icomoon-font-path}/icons.ttf?ibykvs') format('truetype'),
        url('@{icomoon-font-path}/icons.woff?ibykvs') format('woff'),
        url('@{icomoon-font-path}/icons.svg?ibykvs#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-expert {
    &:before {
        content: @icon-expert;
    }
}
.icon-planesium {
    &:before {
        content: @icon-planesium;
    }
}
.icon-sign-out {
    &:before {
        content: @icon-sign-out;
    }
}
.icon-level-up {
    &:before {
        content: @icon-level-up;
    }
}
.icon-google {
    &:before {
        content: @icon-google;
    }
}
.icon-google-plus3 {
    &:before {
        content: @icon-google-plus3;
    }
}
.icon-image {
    &:before {
        content: @icon-image;
    }
}
.icon-music {
    &:before {
        content: @icon-music;
    }
}
.icon-book {
    &:before {
        content: @icon-book;
    }
}
.icon-location {
    &:before {
        content: @icon-location;
    }
}
.icon-display {
    &:before {
        content: @icon-display;
    }
}
.icon-laptop {
    &:before {
        content: @icon-laptop;
    }
}
.icon-mobile {
    &:before {
        content: @icon-mobile;
    }
}
.icon-mobile2 {
    &:before {
        content: @icon-mobile2;
    }
}
.icon-tablet {
    &:before {
        content: @icon-tablet;
    }
}
.icon-equalizer {
    &:before {
        content: @icon-equalizer;
    }
}
.icon-cog {
    &:before {
        content: @icon-cog;
    }
}
.icon-mug {
    &:before {
        content: @icon-mug;
    }
}
.icon-clipboard {
    &:before {
        content: @icon-clipboard;
    }
}
.icon-earth {
    &:before {
        content: @icon-earth;
    }
}
.icon-embed2 {
    &:before {
        content: @icon-embed2;
    }
}
.icon-embed22 {
    &:before {
        content: @icon-embed22;
    }
}
.icon-terminal {
    &:before {
        content: @icon-terminal;
    }
}
.icon-xing2 {
    &:before {
        content: @icon-xing2;
    }
}
.icon-radio-checked {
    &:before {
        content: @icon-radio-checked;
    }
}
.icon-radio-unchecked {
    &:before {
        content: @icon-radio-unchecked;
    }
}
.icon-github5 {
    &:before {
        content: @icon-github5;
    }
}
.icon-joomla {
    &:before {
        content: @icon-joomla;
    }
}
.icon-git {
    &:before {
        content: @icon-git;
    }
}
.icon-pencil {
    &:before {
        content: @icon-pencil;
    }
}
.icon-disk {
    &:before {
        content: @icon-disk;
    }
}
.icon-newtab {
    &:before {
        content: @icon-newtab;
    }
}
.icon-embed {
    &:before {
        content: @icon-embed;
    }
}
.icon-code {
    &:before {
        content: @icon-code;
    }
}
.icon-console {
    &:before {
        content: @icon-console;
    }
}
.icon-share {
    &:before {
        content: @icon-share;
    }
}
.icon-twitter {
    &:before {
        content: @icon-twitter;
    }
}
.icon-feed {
    &:before {
        content: @icon-feed;
    }
}
.icon-wordpress {
    &:before {
        content: @icon-wordpress;
    }
}
.icon-android {
    &:before {
        content: @icon-android;
    }
}
.icon-windows8 {
    &:before {
        content: @icon-windows8;
    }
}
.icon-html5 {
    &:before {
        content: @icon-html5;
    }
}
.icon-css3 {
    &:before {
        content: @icon-css3;
    }
}
.icon-chrome {
    &:before {
        content: @icon-chrome;
    }
}
.icon-in-alt {
    &:before {
        content: @icon-in-alt;
    }
}
.icon-heart {
    &:before {
        content: @icon-heart;
    }
}
.icon-spades {
    &:before {
        content: @icon-spades;
    }
}
.icon-js {
    &:before {
        content: @icon-js;
    }
}
.icon-java {
    &:before {
        content: @icon-java;
    }
}
.icon-yl-black {
    &:before {
        content: @icon-yl-black;
    }
}
.icon-php {
    &:before {
        content: @icon-php;
    }
}
.icon-bitbucket {
    &:before {
        content: @icon-bitbucket;
    }
}
.icon-neumeister {
    &:before {
        content: @icon-neumeister;
    }
}
.icon-kraft {
    &:before {
        content: @icon-kraft;
    }
}
.icon-letsencrypt-logo {
    &:before {
        content: @icon-letsencrypt-logo;
    }
}
.icon-schreg {
    &:before {
        content: @icon-schreg;
    }
}
.icon-yl {
    &:before {
        content: @icon-yl;
    }
}
.icon-nz {
    &:before {
        content: @icon-nz;
    }
}
.icon-error {
    &:before {
        content: @icon-error;
    }
}
.icon-error-outline {
    &:before {
        content: @icon-error-outline;
    }
}
.icon-warning {
    &:before {
        content: @icon-warning;
    }
}
.icon-email {
    &:before {
        content: @icon-email;
    }
}
.icon-location-on {
    &:before {
        content: @icon-location-on;
    }
}
.icon-gps-fixed {
    &:before {
        content: @icon-gps-fixed;
    }
}
.icon-gps-not-fixed {
    &:before {
        content: @icon-gps-not-fixed;
    }
}
.icon-tv {
    &:before {
        content: @icon-tv;
    }
}
.icon-blur-off {
    &:before {
        content: @icon-blur-off;
    }
}
.icon-blur-on {
    &:before {
        content: @icon-blur-on;
    }
}
.icon-brightness {
    &:before {
        content: @icon-brightness;
    }
}
.icon-compare {
    &:before {
        content: @icon-compare;
    }
}
.icon-touch-app {
    &:before {
        content: @icon-touch-app;
    }
}
.icon-cc {
    &:before {
        content: @icon-cc;
    }
}
.icon-cc-by {
    &:before {
        content: @icon-cc-by;
    }
}
.icon-cc-nc {
    &:before {
        content: @icon-cc-nc;
    }
}
.icon-cc-nd {
    &:before {
        content: @icon-cc-nd;
    }
}

