@icomoon-font-path: "fonts";

@icon-expert: "\e91f";
@icon-planesium: "\e91e";
@icon-sign-out: "\f08b";
@icon-level-up: "\f148";
@icon-google: "\e91c";
@icon-google-plus3: "\e91d";
@icon-image: "\e904";
@icon-music: "\e905";
@icon-book: "\e906";
@icon-location: "\e907";
@icon-display: "\e908";
@icon-laptop: "\e909";
@icon-mobile: "\e90a";
@icon-mobile2: "\e90b";
@icon-tablet: "\e90c";
@icon-equalizer: "\e90e";
@icon-cog: "\e90f";
@icon-mug: "\e910";
@icon-clipboard: "\e911";
@icon-earth: "\e912";
@icon-embed2: "\e913";
@icon-embed22: "\e914";
@icon-terminal: "\e915";
@icon-xing2: "\e916";
@icon-radio-checked: "\ea55";
@icon-radio-unchecked: "\ea56";
@icon-github5: "\eab5";
@icon-joomla: "\eab8";
@icon-git: "\eae2";
@icon-pencil: "\e601";
@icon-disk: "\e602";
@icon-newtab: "\e600";
@icon-embed: "\e603";
@icon-code: "\e604";
@icon-console: "\e605";
@icon-share: "\e606";
@icon-twitter: "\e607";
@icon-feed: "\e608";
@icon-wordpress: "\e609";
@icon-android: "\e60a";
@icon-windows8: "\e60b";
@icon-html5: "\e60c";
@icon-css3: "\e60d";
@icon-chrome: "\e60e";
@icon-in-alt: "\e60f";
@icon-heart: "\e618";
@icon-spades: "\e90d";
@icon-js: "\e91a";
@icon-java: "\e91b";
@icon-yl-black: "\e917";
@icon-php: "\e918";
@icon-bitbucket: "\e903";
@icon-neumeister: "\e902";
@icon-kraft: "\e901";
@icon-letsencrypt-logo: "\e900";
@icon-schreg: "\e614";
@icon-yl: "\e615";
@icon-nz: "\e617";
@icon-error: "\e000";
@icon-error-outline: "\e001";
@icon-warning: "\e002";
@icon-email: "\e0be";
@icon-location-on: "\e0c8";
@icon-gps-fixed: "\e1b3";
@icon-gps-not-fixed: "\e1b4";
@icon-tv: "\e333";
@icon-blur-off: "\e3a4";
@icon-blur-on: "\e3a5";
@icon-brightness: "\e3ab";
@icon-compare: "\e3b9";
@icon-touch-app: "\e919";
@icon-cc: "\e610";
@icon-cc-by: "\e611";
@icon-cc-nc: "\e612";
@icon-cc-nd: "\e613";

