@red: #ae4343;
body{
  overflow-x: hidden;

  *{
    font-family: 'Ubuntu', sans-serif;
  }
  &.main{
    background-image: url(bg.png);

    div.background{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .13;
      display: none;
    }
    section.main{
      padding-top: 50px;
      height: 100vh;

      .main-text{
        font-family: "Ubuntu";
        font-size: 4rem;
        line-height: 4rem;
        font-weight:700;

        @media (max-width: 767px) {
          font-size: 4rem;
        }
      }

      blockquote{
        border-left: 5px solid @red;
        font-size: 2em;
      }
    }

    footer{
      background: @red;
      text-align: center;
      padding: 20px;
      color: #ffffff;

      //
//      @media (max-width: 767px) {
//        font-size: 4rem;
//      }

      a{
        font-size: 6rem;
        color: #ffffff;
        transition: all 500ms ease-out;
        text-decoration: none;
        margin: 0 5px;

        &:hover{
          color: #000000;
        }
      }
    }
  }

  .tac{
    text-align: center;
  }
}