<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Ausrede #{{ id }} - ES_GBT_KNE_ENTSCHLDG_FR_SCHLTES_DESIGN{% endblock %}</title>

    <meta name="author" content="Ozan Yolyapar">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fonts/fonts.css">
    <link rel="stylesheet" href="static/main.css">

    <script src="static/jquery-1.11.2.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/ozans.js"></script>
    {% block head %}{% endblock %}
</head>
<body class="main">
<div class="background"><span></span></div>
<div class="container">
    {% block main %}
        <div class="col-sm-12">
            <section class="main">
                <h1 class="main-text">Ausrede #{{ id }}</h1>
                <blockquote>{{ ausrede.inhalt }}</blockquote>
            </section>
        </div>
    {% endblock %}
</div>
<footer>
    <div class="container">
        <div class="col-sm-12 tac">
            <p></p>
        </div>
    </div>
    <a href="http://ozan.yolyapar.com" data-toggle="tooltip" data-placement="top" title="ozan.yolyapar.com"><i class="icon-yl"></i></a>
    <a href="https://twitter.com/gercekelmacayi/" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="icon-twitter"></i></a>
    <a href="https://twitter.com/gercekelmacayi/" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="icon-bitbucket"></i></a>
    <p>&copy; 2016-2020 - Ozan Yolyapar</p>
</footer>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>